---
layout: page-wrapped
---

<div class="home">

  <section>
    <h1><span>posts</span></h1>
    {% for post in site.posts %}
      <article>
        <header>
          <h2>
            {% if post.project %}
              {{ post.title }}
            {% else %}
              <a href="{{ post.url }}">{{ post.title }}</a>
            {% endif %}
          </h2>
          <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        </header>
        {{ post.excerpt }}
        <p class="group">
          {% if post.project %}
            <a class="post-link" href="projects/{{ post.project }}">&rarr; {{ post.project }} project</a>
          {% else %}
            <a class="post-link" href="{{ post.url }}">read more</a>
          {% endif %}
        </p>
      </article>
    {% endfor %}
  </section>

  <aside>
    <h1><span>projects<span></h1>
    <ul>
    {% comment %}Create links for every directory in /projects{% endcomment %}
    {% for p in site.pages %}
      {% assign path = p.url | split:'/' %}
      {% assign depth = path | size %}
      {% if path[1] == 'projects' and depth == 3 %}
        <li><a href="{{ p.url }}">{{ p.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </aside>

</div>
