<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/assets/css/default.css" | prepend: site.baseurl }}">
    {% for stylesheet in  page.post_css %}
      <link rel="stylesheet" href="/assets/css/posts/{{ stylesheet }}.css">
    {% endfor %}
    {% if page.style %}
      <style type="text/css">
      {{ page.style }}
      </style>
    {% endif %}
    {% for stylesheet in page.css %}
      <link rel="stylesheet" href="css/{{ stylesheet }}.css">
    {% endfor %}

    {% for script in page.vendor_js %}
      <script src="/assets/js/{{ script }}.js"></script>
    {% endfor %}
    {% for script in page.js %}
      <script src="js/{{ script }}.js"></script>
    {% endfor %}
</head>
