---
---

/* resets */

body { margin: 0; }

.group:after { /* aka clearfix */
  content: "";
  display: table;
  clear: both;
}


/* header */

.site-header {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #ddd;
  height: 25px;
  background-color: #333;
  padding: 1rem 0;
  a {
    color: #ddd;
    text-decoration: none;
  }
  nav {
    float: right;
    a { padding-left: 1em; }
  }
}
.site-title { float: left; }

.wrap {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 900px;
  padding: 0 2rem;
  width: 100%;
}


@media ( min-width: 940px ){
  .wrap {
    padding: 0;
  }
}
